/* .movie-card:hover .movie-details {
  display: flex;
} */

.card {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.poster {
  width: 200px;
  height: 200px;
  outline: 1px solid red;
  flex: 50%;
}

.details {
  flex: 50%;
  outline: 1px solid red;
}
