/* .movie-card:hover .movie-details {
  display: flex;
} */

.movie-card {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movie-card .poster {
  width: 200px;
  height: 200px;
  outline: 1px solid red;
  flex: 50%;
}

.movie-card .movie-detail {
  flex: 50%;
}
