.searchResults {
  position: absolute;
  width: 100%;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 5px;
  list-style-type: none;
}

.result {
  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  & a {
    display: block;
    padding: 10px 20px;
    color: rgb(10, 10, 10);
    text-decoration: none;
    font-weight: 300;
    transition: background 0.1s ease, color 0.1s ease;

    &:hover {
      background: rgb(1, 210, 119);
      color: white;
    }
  }
}
